{
  "database": {
    "type": "sqlite", // "mysql" or "sqlite": If "sqlite", the php-sqlite module is required.
    "host": "localhost", // Used for MySQL
    "name": "my_database", // Used for MySQL
    "user": "db_user", // Used for MySQL
    "password": "db_password", // Used for MySQL
    "path": "database/app.sqlite" // DB file path for SQLite (relative to the project root)
  },
  "api_keys": {
    "service_a": "your_api_key_for_service_a",
    "service_b": "another_api_key"
  },
  "app_settings": {
    "debug_mode": true,
    "site_name": "My Awesome Website"
  },
  "footer": {
    "discord_url": "https://discord.gg/XXXXXX",
    "copyright_name": "YOUR_NAME",
    "copyright_start_year": 2025
  },
  "paths": {
    "upload_directory": "public/assets/img/upload/",
    "user_icons_directory": "public/assets/img/upload/icon/user/",
    "temp_directory": "tmp/"
  }
}
